@using makerspace.Models;
@{
    ViewBag.Title = "Maker Space Workshops Areas";
    //Area_User_Memberships area_list = ViewData["area_list"] as Area_User_Memberships;
    //List<Area_User_Memberships> area_list = ViewData["area_list"] as List<Area_User_Memberships>;
}
<div class="row">
    <h2>Getting started</h2>
    <div class="col-md-12">
        @Html.Partial("Areas_Get_All")       
    </div>

</div>